* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Barlow', sans-serif;
  background-color: rgb(240, 240, 240);
}

.container {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
  font-size: 2.3rem;
  font-weight: 700;
}

.row {
  display: flex;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column-one-forth {
  flex-basis: 25%;
}

.screen {
  width: 400px;
}

.icon {
  width: 80px;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1.2rem;
}
