* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Courier Prime', monospace;
}

.main-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  margin: 0;
  font-size: 3rem;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

.underline {
  margin-top: 0.3rem;
  border-bottom: 5px solid black;
}
