* {
  box-sizing: border-box;
}

.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
}

.column-full {
  flex-basis: 100%;
}

.column-one-third {
  flex-basis: calc(100% / 3);
}

.column-one-forth {
  flex-basis: 25%;
}

.column-two-third {
  flex-basis: calc(100% / 1.5);
}

img {
  width: 100%;
}
